div.techItem {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: space-between;
    align-items: center;

    margin: 2vh;
    padding: 2vh;

    flex: 1;
    min-width: fit-content;
    height: 70vh;

    background: linear-gradient(0deg, rgba(161,0,126,1) 0%, rgba(53,0,88,1) 70%, rgba(1,0,107,1) 100%);
    border-radius: 4vh;
}

@media screen and (max-width: 1000px) {
    div.techItem {
        flex-basis: 40%;
    }
}

div.techItem h2 {
    font-size: 3vh;
    font-weight: 200;
}

div.techItem p {
    font-size: 2.5vh;
}

div.techItem button {
    background-color: white;
    color: rgba(53,0,88,1);

    font-weight: 900;
    font-size: 3vh;

    border-radius: 4vh;
    padding: 10px 20px;

    outline: none;
    border: none;

    transition: 0.2s all;
    cursor: pointer;
}

div.techItem button:hover {
    transform: scale(1.1);
}