div.menu {
    display: flex;
    position: fixed;
    
    top: 0;

    justify-content: center;

    color: white;

    width: 100%;
    height: 10vh;

    transition: 0.2s all;
    z-index: 999;
}

div.menu.dark {
    color: black;
}

div.menu img {
    top: 1vh;
}

div.menu.scrolled {
    height: 7vh;
    background-color: black;
    color: white;
}

div.menu.scrolled img {
    top: -1vh;
}

div.menu ul {
    display: flex;

    justify-content: space-around;
    align-items: center;

    color: inherit;

    padding: 0;

    width: 70vh;
}

div.menu li {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5vh;
    font-weight: 400;

    list-style: none;
    cursor: pointer;

    color: inherit;

    transition: 0.2s all;
}

div.menu li:hover {
    transform: scale(1.1);
}

img.logo {
    position: absolute;
    left: 1;
    width: 10vh;
    border-radius: 50%;

    cursor: pointer;
    transition: 0.2s all;
}

img.logo:hover {
    transform: scale(1.1);
    border-radius: 20%;
}