div.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  margin-block: 4vh;

  flex: 1;
}

h2.segTitle {
  font-family: "Sarabun", sans-serif;
  font-weight: 700;
  text-align: start;
}

p.segDesc {
  font-size: 3vh;
  text-align: start;
}
