div.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  margin-block: 4vh;

  flex: 1;
}

h2.segTitle {
  margin-bottom: 4vh;
}

p.segDesc {
  font-size: 2.5vh;
}
