div.nftsWrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

div.nftsWrapper > div {
    flex: 50%;
    margin-block: 5vh;
}

div.nft {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

div.nft img.nftLogo {
    border-radius: 8vh;
    width: 40vh;
    height: 40vh;
    margin-bottom: 2vh;
}
