.footer {
    display: flex;
    flex-direction: column;

    background-color: #0C0C0C;

    color: white;

    width: 100%;
}

.footer.dark {
    color: black;
}

.footer div {
    display: flex;
    margin: 1vh;
    justify-content: space-around;
    color: inherit;
}

.footer div div {
    align-items: start;
    flex-direction: column;
    color: inherit;
}

.footer div.title {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: inherit;
}

.footer p {
    font-size: 3vh;
    font-weight: 900;
    color: inherit;
    text-align: center;
}

.footer h3 {
    font-size: 3vmin;
    text-align: center;
    color: inherit;
}

.footer ul {
    padding: 0;
    color: inherit;

    align-items: center;
    justify-content: center;
}

.footer ul.icons {
    display: flex;
    flex-wrap: wrap;
}

footer ul.icons li {
    margin-inline: 1vh;
}

.footer li {
    list-style: none;
    cursor: pointer;
    color: inherit;
    font-size: 2.5vh;
}

.footer a {
    text-decoration: none;
}

.footer div.title {
    margin: 0;
}

.footer div.title img {
    width: 10vh;
    cursor: pointer;
    transition: 0.2s all;
}

.footer div.title img:hover {
    transform: scale(1.1);
}