@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand&family=Sarabun&display=swap");

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  z-index: 99;
}

h1 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  font-family: "Sarabun", sans-serif;
  text-align: center;
  font-size: 7vmin;
  font-weight: 400;
}

button {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
